<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../js/subTutor.js"></script>
  <body style="padding-top: 10px;padding-left: 20px">
    
    <div id="searchSection">
      <p><label><b>Buscar Tutor: </b></label></p>
      <div style="display:inline-flex" class="w3-display-container">
        <input autofocus id="searchInput" class="w3-input w3-border" type="text" style="width:600px">
      </div>
    </div>
    <div id="searchResults">

    </div>
    <div class="w3-display-bottomright">
      <button onclick="parent.document.getElementById('subFormSelectAdult').style.display = 'none'" class="w3-button w3-red" style="right: 10px">Cancelar</button>
    </div>

  </body>
</html>