<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<script src="js/stats.js"></script>
<body>


<div class="w3-row-padding" style="width: 800px">
  <div class="w3-third w3-center">
    <h2>Estado de estadisticas:</h2>
  </div>
  <div class="w3-third w3-center">
    <h2 id="statStatus">status</h2>
  </div>
  <div class="w3-third w3-center" style="padding-top: 20px">
    <button id="doThingBut" onclick="getStats()" class="w3-button w3-yellow">Solicitar</button>
  </div>
</div>

<p><br></p>

<div id="stadisticsArea" class="w3-center w3-half">

</div>


</body>
</html>
