<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../js/sub.js"></script>
  <body style="padding-top: 10px;padding-left: 20px">
    <div id="searchSection">
      <p><label><b>Buscar: </b></label></p>
      <div style="display:inline-flex">
        <input autofocus id="searchInput" class="w3-input w3-border" type="text" style="width:600px">
        <button onclick="parent.document.getElementById('id01').style.display='block'" class="w3-button w3-green"><i class="fa fa-user-plus fa-fw"></i></button>
      </div>
    </div>
    <div id="searchResults">

    </div>

  </body>
</html>